//项目提供scss全局变量的文件
$color: green;

// 左侧的菜单宽度
$base-menu-width: 260px;
// 左侧的菜单宽度--折叠后的宽度
$base-menu-min-width: 55px;
// 左侧菜单的背景颜色
$base-menu-bg: #001529;
// 顶部导航栏高度
$base-tabber-height: 50px;
// 左侧菜单logo高度设置
$base-menu-logo-height: 50px;
// 左侧菜单logo的右侧的文字大小
$base-menu-title-fontSize: 20px;
// 左侧菜单logo的右侧的文字颜色
$base-menu-background-color: white;